<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script>
  window.pin_icon = "<%= asset_path('pin-icon.jpg')%>"
</script>
<script>
  window.bar_icon = "<%= asset_path('bar-icon.png')%>"
</script>
<script>
  window.beer_icon = "<%= asset_path('beer-icon.png')%>"
</script>
<script>
  window.guiness_img = "<%= asset_path('guiness.png')%>"
</script>
<main id="root"></main>
