<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
  <% if current_user.find_reservation_by_date(Date.today) %>
  <% reservationForToday =  current_user.find_reservation_by_date(Date.today) %>
  <script type="text/javascript">
    window.reservationForToday = <%= render('api/reservations/reservation.json.jbuilder',
    reservation: reservationForToday).html_safe %>
  </script>
  <% end %>
<% end %>

<!-- LANDING PAGE IMAGES -->
<script>
  window.menu_icon = "<%= asset_path('menu-icon.png')%>"
</script>
<script>
  window.pin_icon = "<%= asset_path('pin-icon.jpg')%>"
</script>
<script>
  window.bar_icon = "<%= asset_path('bar-icon.png')%>"
</script>

<!-- MAIN CONTENT IMAGES -->
<script>
  window.heart_icon = "<%= asset_path('heart-icon.png')%>"
</script>
<script>
  window.heart_icon_o = "<%= asset_path('heart-icon-orange.png')%>"
</script>
<script>
  window.beer_icon = "<%= asset_path('beer-icon.png')%>"
</script>
<script>
  window.guiness_img = "<%= asset_path('guiness.png')%>"
</script>
<script>
  window.corona_img = "<%= asset_path('corona.jpg')%>"
</script>
<script>
  window.stella_img = "<%= asset_path('stella.png')%>"
</script>
<script>
  window.bluemoon_img = "<%= asset_path('bluemoon.jpg')%>"
</script>
<script>
  window.heineken_img = "<%= asset_path('heineken.jpg')%>"
</script>
<script>
  window.brooklyn_img = "<%= asset_path('brooklyn.jpg')%>"
</script>
<script>
  window.bluerobot_img = "<%= asset_path('robot-blue.png')%>"
</script>
<script>
  window.orangerobot_img = "<%= asset_path('robot-orange.png')%>"
</script>
<script>
  window.rotating_beer1_img = "<%= asset_path('rotating-beer-1.jpg')%>"
</script>
<script>
  window.rotating_beer2_img = "<%= asset_path('beer-background.png')%>"
</script>
<script>
  window.rotating_beer3_img = "<%= asset_path('rotating-beer3.jpg')%>"
</script>

<!-- NAV BAR ICONS -->
<script>
  window.heart_icon_g = "<%= asset_path('heart-icon-g.png')%>"
</script>
<script>
  window.hh_icon = "<%= asset_path('happyhour-icon.png')%>"
</script>
<script>
  window.account_icon = "<%= asset_path('account-icon.png')%>"
</script>
<script>
  window.logout_icon = "<%= asset_path('logout-icon.png')%>"
</script>

<!-- FOOTER ICONS -->
<script>
  window.social_icons = "<%= asset_path('social-icon.png')%>"
</script>

<main id="root"></main>
