<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('bpfavicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
